/*
 *  UCF COP3330 Fall 2021 Assignment 1 Solution
 *  Copyright 2021 Hamza Iqbal
 */
 
import java.util.Scanner;

public class Main {
  public static void main(String[] args) 
  {
    Scanner input = new Scanner (System.in);
    System.out.print("What is your first name?: ");
    String fname = input.next();
    System.out.print("What is your last name?: ");
    String lname = input.next();
    System.out.println();
    System.out.println("Hello, nice to meet you\n"+fname+" "+lname);
  }
}
